# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Exclude sensitive credential files
.env
aws-credentials.txt

# IDE files
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

#node modules
node_modules/

#packaged lambda files
lambda/package-lock.json
lambda/package.json